In [1]:
import pandas as pd

pd.set_option('display.max_rows', 800)
pd.set_option('display.max_columns', 800)

## Grabbing information data for all nba teams

In [2]:
import all_nba_team_scraper

In [3]:
df = all_nba_team_scraper.all_nba_team()

In [4]:
df.to_csv('All_nba_team_csv', index=False)

In [5]:
df.head()

           Players   Season All nba team
0      Karl Malone  1988–89          1st
1  Charles Barkley  1988–89          1st
2  Hakeem Olajuwon  1988–89          1st
3   Michael Jordan  1988–89          1st
4    Magic Johnson  1988–89          1st

## Grab information on player stats Start 1988

In [6]:
import nba_stats

In [7]:
df_per_game = nba_stats.player_stats(2019, 'per_game')
df_advanced = nba_stats.player_stats(2019, 'advanced')

In [9]:
# Determine the matchin column names in these two dataframes
intersect_cols = df_per_game.columns.intersection(df_advanced.columns).tolist()
intersect_cols.remove('MP')

ex = df_per_game.merge(df_advanced, how = 'left', on = intersect_cols)

In [10]:
combined_df = ex.dropna().reset_index(drop = True)

In [12]:
combined_df.head()

,Player,Pos,Age,Tm,G,GS,MP_x,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,MP_y,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,,OWS,DWS,WS,WS/48,,OBPM,DBPM,BPM,VORP
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,.357,1.3,4.1,.323,0.5,1.0,.500,.487,0.4,0.4,.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3,588,6.3,.507,.809,.083,0.9,7.8,4.2,4.3,1.3,0.9,7.9,12.2,,0.1,0.6,0.6,.053,,-3.7,0.4,-3.3,-0.2
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,.222,0.2,1.5,.133,0.2,0.3,.667,.278,0.7,1.0,.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7,123,2.9,.379,.833,.556,2.7,20.1,11.3,8.2,0.4,2.7,15.2,9.2,,-0.1,0.0,-0.1,-0.022,,-7.6,-0.5,-8.1,-0.2
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,.345,0.7,2.2,.338,0.4,1.1,.361,.459,0.2,0.3,.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2,428,7.6,.474,.673,.082,2.6,12.3,7.4,19.8,1.5,1.0,19.7,13.5,,-0.1,0.2,0.1,.011,,-3.8,-0.5,-4.3,-0.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,.595,0.0,0.0,.000,6.0,10.1,.596,.595,1.8,3.7,.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9,2669,18.5,.591,.002,.361,14.7,14.8,14.7,6.6,2.0,2.4,12.6,16.4,,5.1,4.0,9.1,.163,,0.7,0.4,1.1,2.1
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,.576,0.0,0.2,.200,3.4,5.7,.588,.579,2.0,2.8,.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9,1913,17.9,.623,.031,.465,9.2,24.0,16.6,14.2,1.8,3.0,17.1,15.8,,3.4,3.4,6.8,.171,,-0.4,2.2,1.8,1.8