In [8]:
import pandas as pd

In [9]:
df = pd.read_html('https://en.wikipedia.org/wiki/All-NBA_Team')

df = df[7].copy(deep = True)

In [10]:
df.head()

    Season              First team                             Second team  \
    Season                 Players               Teams             Players
0  1988–89        Karl Malone* (2)           Utah Jazz        Tom Chambers
1  1988–89    Charles Barkley* (4)  Philadelphia 76ers       Chris Mullin*
2  1988–89  Akeem Olajuwon* (4)[c]     Houston Rockets  Patrick Ewing* (2)
3  1988–89     Michael Jordan* (4)       Chicago Bulls  John Stockton* (2)
4  1988–89      Magic Johnson* (8)  Los Angeles Lakers       Kevin Johnson

                                      Third team
                   Teams                 Players                Teams
0           Phoenix Suns  Dominique Wilkins* (4)        Atlanta Hawks
1  Golden State Warriors      Terry Cummings (2)      Milwaukee Bucks
2        New York Knicks      Robert Parish* (2)       Boston Celtics
3              Utah Jazz              Dale Ellis  Seattle SuperSonics
4           Phoenix Suns              Mark Price  Cleveland Cavaliers

In [11]:
multiindex_names = list(df.columns.levels[0])
multiindex_names.remove('Season')
multiindex_names

['First team', 'Second team', 'Third team']

In [12]:
# df.columns = df.columns.droplevel(0)

In [13]:
df.columns = [f'{i}_{j}' for i, j in df.columns]

In [14]:
df.columns

Index(['Season_Season', 'First team_Players', 'First team_Teams',
       'Second team_Players', 'Second team_Teams', 'Third team_Players',
       'Third team_Teams'],
      dtype='object')

In [15]:
df

,Season_Season,First team_Players,First team_Teams,Second team_Players,Second team_Teams,Third team_Players,Third team_Teams
0,1988–89,Karl Malone* (2),Utah Jazz,Tom Chambers,Phoenix Suns,Dominique Wilkins* (4),Atlanta Hawks
1,1988–89,Charles Barkley* (4),Philadelphia 76ers,Chris Mullin*,Golden State Warriors,Terry Cummings (2),Milwaukee Bucks
2,1988–89,Akeem Olajuwon* (4)[c],Houston Rockets,Patrick Ewing* (2),New York Knicks,Robert Parish* (2),Boston Celtics
3,1988–89,Michael Jordan* (4),Chicago Bulls,John Stockton* (2),Utah Jazz,Dale Ellis,Seattle SuperSonics
4,1988–89,Magic Johnson* (8),Los Angeles Lakers,Kevin Johnson,Phoenix Suns,Mark Price,Cleveland Cavaliers
...,...,...,...,...,...,...,...
150,2018–19,Giannis Antetokounmpo^ (3),Milwaukee Bucks,Kevin Durant^ (9),Golden State Warriors,Blake Griffin^ (5),Detroit Pistons
151,2018–19,Paul George^ (5),Oklahoma City Thunder,Kawhi Leonard^ (3),Toronto Raptors,LeBron James^ (15),Los Angeles Lakers
152,2018–19,Nikola Jokić^,Denver Nuggets,Joel Embiid^ (2),Philadelphia 76ers,Rudy Gobert^ (2),Utah Jazz
153,2018–19,James Harden^ (6),Houston Rockets,Damian Lillard^ (4),Portland Trail Blazers,Russell Westbrook^ (8),Oklahoma City Thunder
154,2018–19,Stephen Curry^ (6),Golden State Warriors,Kyrie Irving^ (2),Boston Celtics,Kemba Walker^,Charlotte Hornets

In [20]:
team_cols = [col for col in df.columns if 'Teams' in col]

In [27]:
df = df[df.columns.difference(team_cols)].copy(deep = True)

In [28]:
df['first_nba_team'] = '1st'
df['second_nba_team'] = '2nd'
df['thirs_nba_team'] = '3rd'

In [29]:
df

,First team_Players,Season_Season,Second team_Players,Third team_Players,first_nba_team,second_nba_team,thirs_nba_team
0,Karl Malone* (2),1988–89,Tom Chambers,Dominique Wilkins* (4),1st,2nd,3rd
1,Charles Barkley* (4),1988–89,Chris Mullin*,Terry Cummings (2),1st,2nd,3rd
2,Akeem Olajuwon* (4)[c],1988–89,Patrick Ewing* (2),Robert Parish* (2),1st,2nd,3rd
3,Michael Jordan* (4),1988–89,John Stockton* (2),Dale Ellis,1st,2nd,3rd
4,Magic Johnson* (8),1988–89,Kevin Johnson,Mark Price,1st,2nd,3rd
...,...,...,...,...,...,...,...
150,Giannis Antetokounmpo^ (3),2018–19,Kevin Durant^ (9),Blake Griffin^ (5),1st,2nd,3rd
151,Paul George^ (5),2018–19,Kawhi Leonard^ (3),LeBron James^ (15),1st,2nd,3rd
152,Nikola Jokić^,2018–19,Joel Embiid^ (2),Rudy Gobert^ (2),1st,2nd,3rd
153,James Harden^ (6),2018–19,Damian Lillard^ (4),Russell Westbrook^ (8),1st,2nd,3rd
154,Stephen Curry^ (6),2018–19,Kyrie Irving^ (2),Kemba Walker^,1st,2nd,3rd

In [30]:
import re

In [ ]:
def clean_text():
    re.sub()